@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: black;
  color: white;
  overflow-x: hidden;
}

.videos {
  width: 100%;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, min(350px, 450px));
  justify-content: space-between;
  padding: 0 40px;
  height: 100vh;
  overflow: auto;
}

.videos::-webkit-scrollbar {
  background: black;
  width: 9px;
}

.videos::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

@media (max-width: 1300px) {
  .videos {
    justify-content: center;
  }
} 

@media (max-width: 768px) {
  .videos {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    gap: 50px;
    padding: 20px;
  }
}

.row {
  display: grid;
  grid-template-columns: 169px auto;
  gap: 10px;
}